body {font-family:'Courier New', Courier, monospace;
        color:#000000;
        background-color: #f1c8b7; 
        font-size: 120%;
}

h1 {color: #ac7f03;
font-size: 120%;
} 
h2 {color: #ac7f03;
    font-size: 120%;
}
.evenrow {background-color: #f5f177;}



h1 { color: #ac7f03;}
a:link {color: #000000;}
a:visited {color: #ffffff;}
a:hover {
    background-color:#f1c7b6;
    text-decoration-style: wavy;
}
.secondparagraph {
    background-color:#f1c8b7;
}
nav {
    color: #000000;
    background-color: #ffffff;
    padding:10px;
    margin-bottom: 30px; 
}

nav a:hover {background-color: #ac7f03;} 


.technicalskills {text-align: center; padding-top: 10px;} 
.flexboxrow {display: flex;}

.photo {max-width: 100%;}

   
@media only screen and (max-width: 1000px) {
    nav a {display: block; size: 100%; padding-top: 10px;} 
    span {display: none;} 
}

@media only screen and (min-width: 600px) {
}

#skip {position: absolute;
    left: -999px;
    background-color: #f1c7b6;
} 
#skip:focus {
left: 10px; 
}








