body {font-family:'Courier New', Courier, monospace;
    color: #2C476E;
    background-color: #FDDD9F;
    font-size: 120%;
    padding: 24px;
} 

p {
    font-size: 120%; 
    padding: 24px;
}

h1 {color: #2C476E;
    font-size: 300%;
    text-align: center;
    font-family: 'Satisfy', cursive;
}
a:link {color: #CCCCCC;}
a:visited {color: #ffffff;}

h2 {color:#2C476E;
    font-size: 120%;
}

nav {
    font-family:'Courier New', Courier, monospace;
    font-size: 120%; 
    background-color: #2C476E;
    padding:10px;
    margin-bottom: 30px; 
    border-radius: 30px;
    padding: 16.5px; 
}


nav a:hover {background-color:#80B3E1;} 

.image {display: flex; justify-content: center; max-width: 100%; flex-wrap: wrap;}

.timeline {display: flex; flex-wrap: wrap; justify-content: center; max-width: 100%;}

.container{
    position: relative;
    text-align: center;
    color: #2C476E; 
    display: flex; justify-content: center; max-width: 100%; flex-wrap: wrap;
}
.bottom-middle {
    position: relative;
    bottom: 82px;
    right: 223px;
    font-size: 150%;
    font-weight: bold;
}

.londonimages {display: flex; justify-content: space-between; padding: 30px;}
.londonimage img {flex: 1;}


.parisimages {display: flex; justify-content: space-between; padding: 30px; padding-right: 30px; flex-wrap: wrap}

.paraguay {display: flex;}
.paraguaytext {font-size: 100%;}

.firsthola {font-size: 100%;} 
.border {display: flex; justify-content: center; background-color: #2C476E; 
    border-radius: 20px; padding: 25px; margin-bottom: 20px; width: 250px; }
    .resize {width: 200px;}
    .border2 {justify-content: center; background-color: #2C476E; 
        border-radius: 20px; padding: 20px; margin-bottom: 50px; width: 930px;}

    .border3 {background-color: #ffffff; border-radius:20px; padding: 18px; margin-bottom: 50px; width: 1180px;}
       
.ppictures {flex-wrap: wrap}
.cubapictures {flex-wrap: wrap;}
.cuba {display: flex;}
.end {font-size: 120%;}
.resize2 {width: 200px;}


.cubatext {font-size: 120%;}
.hola {font-size: 120%;}

span {color: #ffffff}

@media only screen and (max-width: 600px) {
    nav a {display: block; size: 100%; padding-top: 30px;} 
    span {display: none; flex-wrap: wrap;}
    .container {
        position: relative; text-align: center; color: #2C476E; display: flex; justify-content: center; max-width: 100%; flex-wrap: wrap;}

        .cuba {display: flex; flex-wrap: wrap;}
        .bottom-middle {
            position: relative;
            bottom: 22px;
            right: 90px;
            font-size: 80%;
            font-weight: bold;
        }
        .cubatext {flex: 1;}
        .cubapictures {flex: 1;}

        .allimages { width: 100%;

        }
    }





.allimages {max-width: 100%} 




