body {font-family:'Courier New', Courier, monospace;
        color:#FD4803;
        background-color: #f1c8b7; 
}

h1 {color: #ac7f03;} 
h2 {color: #ac7f03;}
.evenrow {background-color: #f5f177;}

p {
    background-color: #f1c8b7;
    border: 1px solid #000000; 
    padding: 15px; 
    margin: 40px; 
}
h1 { color: #ac7f03;}
a:link {color: #ffffff;}
a:visited {color: #ffffff;}
a:hover {
    background-color:#f1c7b6;
    text-decoration-style: wavy;
}
.secondparagraph {
    background-color:#f1c8b7;
}
nav {
    background-color: #f1c8b7;
}
nav a {color:#ac7f03}